{{!-- {{page-title "ProjectEmber"}} --}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}

{{!-- {{outlet}} --}}


<section class="todoapp">
    <h1>EmberMDN</h1>
    <h3>nZoump_dev</h3>

    <Header/>
    {{outlet}}
    <Footer/>

</section>